[build]
  command = "npm install && npm install --prefix client && npm run build --prefix client"
  publish = "client/dist"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "server/functions"
  node_bundler = "esbuild"
